#site-header {
  display: none;
}
#comments {
  display: none;
}
@media screen and (min-width: 800px) {
  .header-bar.right-content .header-text {
    position: absolute;
    top: 70px;
    right: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .header-bar.right-content .header-text {
    top: 0;
    right: auto;
  }
}
.header-bar.right-content .header-text {
  margin: 10px 0 0 0;
  padding: 0 0 15px 0;
  background-image: url('/wp-content/uploads/2015/11/chameleon.png');
  background-repeat: no-repeat;
  background-position: left top;
}
.header-bar.right-content .header-text a {
  padding-left: 100px;
  font-size: 30px;
  position: relative;
  top: -6px;
}
a, .entry-title {
  font-weight: normal;
}
.entry-footer a {
  color: #337ab7;
}
.site-header-main {
  background: #b2e1ff;
  background: -moz-linear-gradient(top,  #b2e1ff 0%, #4997da 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#4997da));
  background: -webkit-linear-gradient(top,  #b2e1ff 0%,#4997da 100%);
  background: -o-linear-gradient(top,  #b2e1ff 0%,#4997da 100%);
  background: -ms-linear-gradient(top,  #b2e1ff 0%,#4997da 100%);
  background: linear-gradient(to bottom,  #b2e1ff 0%,#4997da 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#4997da',GradientType=0 );
  text-shadow: 0 0 1px #000000, 0 1px 1px #000000
}