<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Darwin Pricing – CEO Blog</title>
	<atom:link href="https://blog.darwinpricing.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://blog.darwinpricing.com</link>
	<description>Dynamic Pricing Insights</description>
	<lastBuildDate>Tue, 09 May 2017 11:48:53 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.6</generator>

<image>
	<url>https://blog.darwinpricing.com/wp-content/uploads/2015/11/cropped-favicon1-32x32.png</url>
	<title>Darwin Pricing – CEO Blog</title>
	<link>https://blog.darwinpricing.com</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Geo-Targeted Pricing to Boost e-Commerce Profitability</title>
		<link>https://blog.darwinpricing.com/geo-targeted-pricing-boost-e-commerce-profitability-173/</link>
		<comments>https://blog.darwinpricing.com/geo-targeted-pricing-boost-e-commerce-profitability-173/#respond</comments>
		<pubDate>Mon, 01 May 2017 10:00:36 +0000</pubDate>
		<dc:creator><![CDATA[Sébastien Fauvel]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p173.html</guid>
		<description><![CDATA[<p>Price intelligence is becoming a big buzzword these days. The popularity of Amazon and Google Shopping increases the pressure on e-commerce companies to monitor the prices of their competitors, and adjust their own prices in real-time to stay competitive around the clock. An intelligent optimization of pricing and a strategic thinking is essential to price &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/geo-targeted-pricing-boost-e-commerce-profitability-173/">Geo-Targeted Pricing to Boost e-Commerce Profitability</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Price intelligence is becoming a big buzzword these days. The popularity of Amazon and Google Shopping increases the pressure on e-commerce companies to monitor the prices of their competitors, and adjust their own prices in real-time to stay competitive around the clock. An intelligent optimization of pricing and a strategic thinking is essential to price intelligently and effectively.</p>
<p><span id="more-173"></span>Matching the prices of your competitors should be a good strategy if your competitors have a sound pricing strategy themselves. Otherwise it can be a real disaster. And this whole case scenario works only if your customers compare you to this competitor. At this juncture we must analyze our own attitude towards online purchases. The actual competitive situation is a subjective one. It varies from one customer to another. So pricing intelligence tools that give you objective information about your competitor won’t help you to take the right decisions.</p>
<p>There is a simple solution to this problem. A simple process will help you to measure the price shift and its impact on your sales. Run A/B split tests every day and measure the price shifts. This is possible only with an efficient technical setup that can perform a price intelligence survey for free every day. It should not be an objective one, which has little value to drive decisions anyway, but a subjective one, that corresponds to the competitive situation as your customers actually perceive it.</p>
<p><img class="aligncenter" src="https://www.sposea.com/images/blog-images/geo-targeted-pricing-to-boost-e-commerce-profitability.jpg" alt="Geo-Targeted Pricing to Boost e-Commerce Profitability" width="1100" height="755" /></p>
<p>We’ve run such crowd sourced price intelligence reports on hundreds of e-commerce websites of all sizes, analyzed tons of data and came to this simple conclusion: <strong>Knowing the geographical locations of your customer is one of the keys to set up the optimal price points.</strong> There are obvious reasons behind it:</p>
<ul>
<li>The degree of competition varies a lot from one city to another. As for example, the local retailers of different locales price differently</li>
<li>The standard of living varies from place to place, even within a single state. Disparity in income could be one of the reasons</li>
<li>Online shoppers hate shipping costs! They prefer a price that is inclusive of all additional costs like taxes and delivery charges</li>
</ul>
<p>The secret to boost the profitability of your eCommerce is to display different prices on your website based on the geographical location of your customers, and to run and analyze split tests every day to find out the optimal price points in every location. That’s easily done with well <a title="managed pricing tools" href="https://www.darwinpricing.com/services" target="_blank" rel="noopener noreferrer">managed pricing tools</a>.</p>
<p>Segmenting your market geographically, even within a single country or state, unlocks a huge potential for growth. You don’t have to match your competitors’ lowest price worldwide to stay competitive. It is sufficient to match the prices of those competitors who your customers compare with, in a given location.</p>
<p>This simple technique can improve the profitability of your e-commerce drastically. Are you ready to try it out? Or do you have some concerns about using it in your company? Let us know your thoughts!</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/geo-targeted-pricing-boost-e-commerce-profitability-173/">Geo-Targeted Pricing to Boost e-Commerce Profitability</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/geo-targeted-pricing-boost-e-commerce-profitability-173/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Dynamic Pricing: Strategien im Vergleich</title>
		<link>https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/</link>
		<comments>https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/#respond</comments>
		<pubDate>Wed, 06 Apr 2016 14:14:44 +0000</pubDate>
		<dc:creator><![CDATA[Nicolas Diewald]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p149.html</guid>
		<description><![CDATA[<p>Die ersten experimentellen Gehversuche mit dynamischer Preissetzung endeten bereits im Herbst 2000 schnell und schmerzhaft. Der Leidtragende damals: Amazon. Mittlerweile hat der Internetgigant dazugelernt. Um das enorme Potenzial dieser Preissetzungsstrategie auch für Ihre Unternehmung optimal auszuschöpfen, müssen Sie die Besonderheiten der verschiedenen Anbieter kennen und diese im Planungsprozess berücksichtigen. Eine Anleitung zur erfolgreichen Implementierung. Nach &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/">Dynamic Pricing: Strategien im Vergleich</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Die ersten experimentellen Gehversuche mit dynamischer Preissetzung endeten bereits im Herbst 2000 schnell und schmerzhaft. Der Leidtragende damals: Amazon. Mittlerweile hat der Internetgigant dazugelernt. Um das enorme Potenzial dieser Preissetzungsstrategie auch für Ihre Unternehmung optimal auszuschöpfen, müssen Sie die Besonderheiten der verschiedenen Anbieter kennen und diese im Planungsprozess berücksichtigen. Eine Anleitung zur erfolgreichen Implementierung.</p>
<p><span id="more-149"></span></p>
<p>Nach einer Studie von McKinsey führt bereits eine 1%ige Preiserhöhung im Schnitt zu einem Profitabilitätsanstieg von 7,4% (bei gleichbleibendem Verkaufsvolumen). Eine marginale Preiserhöhung kann folgerichtig dazu beitragen, ob Ihr Onlinehandel durchstartet, oder im Haifischbecken WorldWideWeb untergeht. Dynamic Pricing bietet in dieser Hinsicht einen vielversprechenden Weg, um die Preise für verschiedene Kundengruppen anzupassen und somit die Kaufkraft besser auszuschöpfen.</p>
<p>Der heutige größte eTailer der Welt Amazon hat schon früh Dynamic Pricing für sich entdeckt und startete bereits im Jahr 2000 seine ersten Gehversuche in diesem Segment. Damals bot Amazon jedem Konsumenten, je nach Zahlungsbereitschaft, unterschiedliche Preise für das gleiche Produkt an. Diese extreme Form der Preisdiskriminierung endete jedoch in einem großen Fiasko. Amazon erklärte anschließend öffentlich diese Methode nicht weiter zu verfolgen. Wenn also selbst ein Riese wie Amazon sich die Zähne ausbeißt, ist das Ganze dann überhaupt praktikabel?</p>
<h2>Dynamic Pricing: Der neue Standard im Online-Handel</h2>
<p>Keineswegs! Mittlerweile hat sich die dynamische Preissetzungsstrategie als eine gebräuchliche Praxis im Online-Marketing etabliert, auch bei Amazon. Nach etlichen Experimenten haben sich die beiden Strategien <em>Dynamic Price Updating</em> und <em>Dynamic Coupon Pricing</em> durchgesetzt. Beide Ausprägungen sind in ihrem Ziel der Maximierung der Rendite deckungsgleich. Die Ansätze sind jedoch grundverschieden und weisen daher auch verschiedene Stärken bzw. Schwächen auf.</p>
<p>Prinzipiell folgen beide Strategien dem Trend: weg vom <em>Mass Marketing</em> und hin zur <em>Mass Customization</em>. Dies wird vor allem durch ständige Fortschritte im Data Mining begünstigt. Onlinehändler verfügen im Prinzip über einen Berg von Informationen und dies ist einer der größten Wettbewerbsvorteile überhaupt. Oft fehlen aber die Ressourcen bzw. die Kompetenzen dazu, Big Data auszuwerten und/oder in der strategischen Ausrichtung zu implementieren. Führende <em>Dynamic Pricing Solution Provider</em> wie Darwin Pricing oder Wiser unterstützen Firmen hierbei. Sie bieten mithilfe von Software und Knowhow sowohl Informationssuche und -auswertung als auch die praktische Umsetzung in eine gewinnbringende Dynamic Pricing Strategie.</p>
<h2>Ein Beispiel aus der Praxis</h2>
<p>Sébastien Fauvel, CEO von Darwin Pricing, stellte uns zur praxisnahen Veranschaulichung einen aktuellen Track Record zur Verfügung. Bei Patrick Hoffman (Name geändert) handelt es sich um einen mittelständischen Versandhändler mit Hauptabsatzmärkten in Deutschland und Frankreich. Im Rahmen dieses Auftrags erarbeitete und implementierte Darwin Pricing für den Kunden eine personalisierte Geo-Pricing Strategie. Dabei war der Ablauf wie folgt: Nach einer vorhergehenden, umfassenden Situations- und Marktanalyse, um die Preiselastizitäten der Kunden zu messen, wurde die dargestellte Geo-Targeting-Strategie für die Märkte Deutschland und Frankreich festgesetzt. Die Kreisgröße repräsentiert hierbei den Web-Traffic in einer Stadt und die Kreisfarbe die jeweilige Coupon Strategie. Dunkelrot steht dabei für einen Rabatt von 7%, Rot für einen Rabatt von 5%, Orange für einen Rabatt von 3%, und bei Gelb wird kein Rabatt angeboten. Auf der Karte erkennt man sehr gut die differenzierte Streuung der einzelnen Coupon-Rabatte.</p>
<p><img class="aligncenter size-large wp-image-151" src="https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany-1024x747.png" alt="" width="620" height="452" srcset="https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany-1024x747.png 1024w, https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany-300x219.png 300w, https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany-768x560.png 768w, https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany.png 1204w" sizes="(max-width: 620px) 100vw, 620px" /></p>
<p>Mithilfe des Einsatzes von Geo-Pricing konnte der Versandhändler letztendlich eine Umsatzsteigerung von über 68.000 Euro pro Monat und eine Gewinnsteigerung von 9.000 Euro pro Monat erzielen. Für Patrick Hoffman ist die Erfahrung mit <em>Dynamic Coupon Pricing</em> in seinen Worten schon „fast zu schön, um wahr zu sein“, da er so zweistelliges Wachstum innerhalb von nur wenigen Wochen erwirtschaften konnte.</p>
<h2>Verschiedene Preisbereitschaften</h2>
<p>Auch <em>Dynamic Price Updating</em> bietet im Hinblick auf Rendite- und Umsatzsteigerung einen vielversprechenden Ansatz. Hierbei handelt es sich um klassische <em>take-it-or-leave-it</em> Preise, die über einen gewissen Zeitraum dynamisch (aufgrund von Faktoren wie Verkaufszeitpunkt, Nachfrageinformation oder Versorgungsstatus) automatisiert angepasst werden. Solche Software wird von Firmen wie etwa Wiser angeboten. Auch hier unterliegen die Preisanpassungsempfehlungen einem bestimmten Algorithmus, der überwiegend von Angebots- und Nachfrageentwicklungen beeinflusst wird. So kann der ausgezeichnete Preis uhrzeitabhängig an Marktbedingungen adaptiert werden, automatisiert oder manuell. Basis hierfür als auch für <em>Dynamic Coupon Pricing</em> ist eine enorme Datenrecherche und -auswertung, die in dieser Form von klein- bis mittelständischen Onlineplattformen niemals near real-time operiert werden können.</p>
<p>Kurz gesagt kann also durch diese beiden verschiedenen Vorgehensweisen mithilfe von dynamischer Preissetzung die Kaufkraft besser abgeschöpft werden. Verschiedene Preisbereitschaften auf Konsumentenseite führen bekanntlich dazu, dass unterschiedliche Kunden auch eine divergente Preisfairnessbeurteilung besitzen, wenn sie mit einem Preis konfrontiert werden. Jeder hat schon einmal das subjektive Gefühl gehabt bei einem Kauf ein Schnäppchen gemacht zu haben. Für andere wiederum wäre der Preis jedoch vielleicht mehr als gerecht oder in diesem Moment sogar etwas zu teuer. Die Gründe hierfür sind vielseitig, da Preisfairnessbeurteilung ein komplexes Konstrukt ist. Dies ist ein typisches Problem der konstanten Preissetzung, wie etwa bei der im Einzelhandel prominenten Dauerniedrigpreisstrategie. Für Kunden mit einer hohen Kaufkraft ist der Niedrigpreis ein Bonus, den sie im Idealfall zusätzlich zum Einkauf erhält, für den Händler ist es lediglich verlorene Rendite.</p>
<h2>Die Kehrseite der Medaille</h2>
<p>Warum also im Zeitalter der Digitalisierung von Information und der Personalisierung des Marketings gerade im überlebenswichtigen Bereich Pricing eine Ausnahme machen? Oft nennen Händler die Angst vor Integritätsverlust als zentralen Faktor.</p>
<p>Zu diesem kritischen Punkt kommt außerdem noch ein Paradoxon des Internethandels: wie kann es überhaupt sein, dass der Onlinemarkt auf Abnehmerseite so intransparent ist, dass derartige Strategien überhaupt greifen können? Eigentlich sollten Informationen doch beiden Parteien einfacher zugänglich und es folglich für den Konsumenten doch auch möglich sein, den günstigsten Preis online zu finden – gerade im Vergleich zu aufwendigen Preisrecherchen im Offlinehandel. Tatsächlich belegen aber diverse Studien, dass im virtuellen Markt ebenso ähnliche Such- und Wechselkosten existieren wie im physischen Markt. Konsumenten tendieren dazu immer auf einer Handvoll vertrauter Seiten einzukaufen. Dieser Fakt passt zu den marktspezifischen Unsicherheitsfaktoren im Onlinehandel, wie die Unsicherheit über Zahlungstransaktionen oder die Unsicherheit über die Güte der Ware. Daher sind Käufer auch bereit ein gewisses Preispremium zu zahlen, wenn sie dafür von vertrauten Seiten Güter erwerben. Aber wird das Vertrauensverhältnis zwischen Händler und Konsument dennoch nicht dauerhaft beschädigt, wenn dem Konsumenten bewusst wird, dass bspw. ein Familienmitglied oder ein Bekannter einen wesentlich günstigeren Preis gezahlt hat als er selbst? Und wie sieht es umgekehrt aus, wenn ich mich als Kunde in der bevorteilten Situation befinde?</p>
<p>Hierzu kann besonders die psychosoziale Forschung aufgrund des mittlerweile verhältnismäßig langen Entwicklungsprozesses von Dynamic Pricing einige Antworten und Prognosen liefern. Basis von vielen Studien sind dabei vornehmlich die <em>Equity-Theorie</em> und die Theorie der <em>Attribution of Agency</em>. Dabei besagt die <em>Equity-Theorie</em>, dass Konsumenten einen Preis automatisch als unfair empfinden, sobald er von dem Preis abweicht den andere Konsumenten bezahlen, selbst wenn sie den Grund (wie etwa den Status als neuer Kunde) für den Preisvorteil kennen. Kunden evaluieren den Nutzen eines Produkts nicht nur anhand ihrer selbst, sondern suchen auch bewusst oder unbewusst den Vergleich mit dem Ertrag anderer. Nach der <em>Attribution of Agency</em> ist für die Beurteilung einer Situation entscheidend, wer die Verantwortung dafür trägt. Letzteres ist, wie wir später noch zeigen werden, ein entscheidender Vorteil des <em>Dynamic Coupon Pricing</em>.</p>
<p>Bei Untersuchung der Thematik Dynamic Pricing in diversen Studien war das Ergebnis eindeutig: der Konsument ist unzufrieden, wenn er erfährt, dass er preislich diskriminiert wurde. Soweit so unspektakulär. Viel interessanter sind jedoch die folgenden sieben Erkenntnisse, die ebenfalls im Zusammenhang mit besagten Studien aufgedeckt wurden:</p>
<ol>
<li>Preisänderungen über längere Perioden werden als weniger unfair empfunden als welche, die in sehr kurzen Perioden geschaltet werden. Das liegt vor allem an dem nachweislich niedrigen Niveau des Preisbewusstseins und des Preisgedächtnisses von Konsumenten. Wird die Periode groß genug gehalten, hat die Preisänderung gar keinen Einfluss mehr auf die Fairnesswahrnehmung. Das sollten Sie besonders bei Produkten mit einer hohen Kauffrequenz berücksichtigen!</li>
<li>Bei einer Diskriminierung nach Neu- und Bestandskunden kann die einseitige Benachteiligung teilweise durch eine Kompensation wie etwa höhere Service-Levels für Bestandskunden kompensiert werden. Koordiniert und argumentiert man die Neukundenakquise und Stammkundenbindung also holistisch, kann daraus sogar ein Imagevorteil entstehen.</li>
<li>Von einer Preisdiskriminierung zwischen Personen, bei denen eine soziale Verbindung besteht, wird logischerweise dringend abgeraten. In anonymen oder offensichtlich voneinander unabhängigen Märkten ist sie jedoch zu empfehlen.</li>
<li>Wird ein günstiger Preis angeboten, sollte deutlich gemacht werden, dass Sie als Händler keine Kosten und Mühen gescheut haben Ihrem Kunden dieses Angebot zu bieten. Dies erzeugt ein Gefühl der Dankbarkeit, was wiederum die <em>Word-of-Mouth</em>-Aktivität fördert und dazu führt, dass der Kunde Sie anderen weiterempfiehlt. Ansonsten schreibt er den günstigen Preis nur seiner eigenen Fähigkeit zu, günstige Preise zu finden.</li>
<li>Es macht keinen signifikanten Unterschied, ob einem Kunden der niedrigere oder der höhere Preis angezeigt wurde: Die Auswirkungen auf Ihr Image werden in beiden Fällen negativ sein, falls Sie die Strategie falsch koordinieren.</li>
<li>Bei verderblichen Produkten wird eine Dynamik des Preises eher akzeptiert. Beispielsweise in der Airline-Industrie ist es Gang und Gäbe, dass der Ticketpreis zeitlich stark variiert. Hat Ihr Produkt ein Ablaufdatum, sind die Chancen gut, dass dynamische Preissetzung keine negativen Auswirkungen auf Ihre Kundenbeziehungen hat.</li>
<li>Verwenden Kunden E-Coupons, die wie bei Darwin Pricing gegen eine Newsletter-Anmeldung vergeben werden, um einen Rabatt zu erhalten, selektieren sie sich sozusagen selber für den günstigeren Preis. Diese Kunden haben einen höheren Aufwand in Form von Finden und Eingeben des Rabatt-Codes, und betrachten sich daher selbst als Verantwortlich für die Preisdiskriminierung. Damit umgehen Sie sicher die Gefahr des Imageverlusts.</li>
</ol>
<h2>Zusammenfassung</h2>
<p>Product, Place, Promotion, Price. Die vier P’s finden nach wie vor noch ihre Anwendung im weltweiten Marketing. Und Price wird dabei immer das zentrale Marketingelement bleiben, welches das letzte Wort in der Entscheidung über Erfolg oder Misserfolg einer Unternehmung hat. Daher sollte stringente <em>Mass Customization</em> im Marketing auch nicht bei Onlinebannerwerbung enden, sondern unbedingt eine solide ausgearbeitete Preissetzungsstrategie enthalten. Letztendlich bleibt es wie so oft ein Trade-Off zwischen Kosten und Nutzen, den jedes Unternehmen für sich selbst durchdenken muss. Im Falle des Unternehmers Patrick Hoffman steht eine monatliche Umsatzsteigerung von 68.000 € monatlichen Service-Kosten von 1.200 € bei Darwin Pricing gegenüber. Die Investition hat sich für den mittelständischen Unternehmer also gelohnt, da in der Summe fast mühelos eine 30%tige Gewinnsteigerung erzielt werden konnte. Zusätzlich zum direkten monetären Vorteil hat er nebenbei mit dieser Strategie außerdem durchschnittlich 120 Neukunden im Monat generiert, die sich sukzessive auch positiv auf zukünftige Einnahmeströme auswirken werden. Dieser Fall von Darwin Pricing zeigt: gerade im Zeitalter von Big Data sollten Sie sich intensiv mit dem Bereich Dynamic Pricing auseinandersetzen. Es lohnt sich in jedem Fall. Denn auch wenn Sie sich dagegen entscheiden sollten, definieren Sie Ihre Unternehmensvision weiter und Ihre strategische Ausrichtung wird ebenfalls zunehmend gefestigt. Gerade weil dieser Bereich nicht immer die oberste Priorität auf der Meeting Agenda hat und oft auch in der Gesamtstrategie nicht den eigentlich gebührenden Stellenwert genießt.</p>
<p>Inwieweit sich differenziertes Pricing auf lange Sicht im Internethandel entwickeln wird, ist spekulativ, momentan ist der Bereich aufgrund diverser Medienberichte jedoch sehr präsent. Fakt ist: online endet das Reich physischer Preisetikettierung und selbst bei <em>Brick-and-Mortar-Stores</em> wird fleißig mit digitaler Preisauszeichnung experimentiert um flexibler in der Preisgestaltung agieren zu können. Das Beispiel der Reiseindustrie mit sehr volatilen Flugticket- oder Übernachtungspreisen zeigt, dass auch die moralischen Bedenken in anderen Segmenten aufgrund von Habitualisierung schon bald der Vergangenheit angehören könnten. Momentan jedoch ist und bleibt es ein kritisches Feld, das mit Bedacht angegangen werden sollte. Sollten Sie sich nun entschließen, dass Sie sich weiter mit dynamischen Preissetzungsstrategien auseinandersetzen wollen, beachten Sie die wissenschaftlichen Erkenntnisse, die Ihnen im vorhergehenden Text erläutert wurden. <em>Dynamic Pricing Solution Provider</em> weisen mittlerweile eine hohe Expertise vor und können Sie in diesem Projekt umfangreich beraten. Egal ob <em>Dynamic Price Updating</em> oder <em>Dynamic Coupon Pricing</em>, das Beispiel des Geo-Pricing Projektes zeigt, wie vielseitig Dynamic Pricing sein kann.</p>
<p>Im Jahr 2000 ist Amazon den Pionierweg gegangen und hat dafür viel Lehrgeld zahlen müssen. Seitdem hat sich der Onlinehandel als auch das Data Mining rasend schnell entwickelt und eröffnen Ihnen völlig neue Möglichkeiten in der dynamischen Preissetzung. Im Jahr 2016 müssen Sie daher nicht mehr die Fehler anderer wiederholen, sondern können den eigenen, für Sie passenden Weg gehen.</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/">Dynamic Pricing: Strategien im Vergleich</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Price Intelligence of the Crowd</title>
		<link>https://blog.darwinpricing.com/price-intelligence-of-the-crowd-101/</link>
		<comments>https://blog.darwinpricing.com/price-intelligence-of-the-crowd-101/#respond</comments>
		<pubDate>Tue, 01 Sep 2015 11:21:00 +0000</pubDate>
		<dc:creator><![CDATA[Sébastien Fauvel]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p101.html</guid>
		<description><![CDATA[<p>The popularity of shopping comparison platforms like Amazon and Google Shopping is increasing the pressure on eCommerce companies to monitor the prices of their competitors, and adjust their own prices in real-time to stay competitive around the clock. Price intelligence is becoming a big buzzword these days. But what are you going to do even with the most comprehensive price &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/price-intelligence-of-the-crowd-101/">Price Intelligence of the Crowd</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><img class="alignright wp-image-102 size-medium" src="https://blog.darwinpricing.com/wp-content/uploads/2015/02/smartphones-crowd-300x200.jpg" alt="" width="300" height="200" srcset="https://blog.darwinpricing.com/wp-content/uploads/2015/02/smartphones-crowd-300x200.jpg 300w, https://blog.darwinpricing.com/wp-content/uploads/2015/02/smartphones-crowd.jpg 450w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<p>The popularity of shopping comparison platforms like <a href="http://www.amazon.com/" target="_blank">Amazon</a> and <a href="http://www.google.com/shopping" target="_blank">Google Shopping</a> is increasing the pressure on eCommerce companies to monitor the prices of their competitors, and adjust their own prices in real-time to stay competitive around the clock.</p>
<p>Price intelligence is becoming a big buzzword these days. But what are you going to do even with the most comprehensive price intelligence data in the world? Match your competitors&#8217; lowest prices worldwide? Great idea if you&#8217;re tired of life! But otherwise, you&#8217;ll need a little more strategical thinking&#8230;<span id="more-101"></span></p>
<h2>Optimizing Prices Intelligently</h2>
<p>As a Chief Revenue Officer, your goal is to improve the profitability of your organization. You&#8217;re not only looking for more orders, but also for substantial margins. You&#8217;re looking for the optimal price points to generate as much profit as possible from the customer flow that your marketing efforts are bringing to your company.</p>
<p>Matching the prices of your competitors might be a sound strategy if your competitors have a sound pricing strategy themselves. Otherwise it can be a real disaster. And matching the prices of a given competitor only makes sense if your customers are actually comparing you to this competitor, doesn&#8217;t it?</p>
<p>Think of your own behavior when you&#8217;re buying online. Suppose that you&#8217;re looking for an electric toothbrush, for instance. Are you going to google <a href="https://www.google.com/search?q=电动牙刷&amp;tbm=isch" target="_blank">电动牙刷</a> to see whether you can get it cheaper from a Chinese retailer? I guess not. But your Chinese customers will.</p>
<p>The actual competition situation is a subjective one, it vary a lot from one customer to another. That&#8217;s why pricing intelligence tools that only give you objective information about your competition won&#8217;t help you take the right decisions.</p>
<h2>Crowdsourcing Pricing Intelligence</h2>
<p>There is a simple solution to this problem: Ask your customers! Oh, don&#8217;t ask them directly – people are so bad at analyzing their own behavior. But perform experiments on your website, run A/B split tests every day, and measure how a price shift is actually impacting your sales. Your customers do compare prices, and if you see that you&#8217;ve got a big increase in sales with a small price reduction, you know that you&#8217;ve matched the price of one of the competitors that really matter.</p>
<p>With the right technical setup, you can let the crowd – your customers – perform a price intelligence survey for free every day. Not an objective one, which has little value to drive decisions anyway, but a subjective one, which corresponds to the competition situation as your customers are actually perceiving it.</p>
<h2>Geographical Market Segmentation</h2>
<p>We&#8217;ve run such crowdsourced price intelligence reports on hundreds of eCommerce websites of all sizes, analyzed tons of data and came to this simple conclusion: <strong>Knowing the physical location of your customers is the key to setting the optimal price points.</strong> There are obvious reasons for that:</p>
<ul>
<li>The degree of competition vary a lot from one city to another. Think about local retailers.</li>
<li>The standard of living vary as well, even within a single country. Think <a href="https://blog.darwinpricing.com/with-your-ecommerce-down-the-streets-of-new-york-city-81/" target="_blank">income inequality</a>.</li>
<li>Online shoppers hate shipping costs! They won&#8217;t buy outside of their region without a good reason.</li>
</ul>
<p>The secret to boost the profitability of your eCommerce is to display different prices on your website depending on the physical location of your customers, and to run and analyze split tests every day to find out the optimal price points in every location. That&#8217;s easily done with <a href="https://www.darwinpricing.com/services">managed pricing tools</a>.</p>
<p>Segmenting your market geographically, even within a single country, unlocks a huge potential for growth. You don&#8217;t have to match your competitors&#8217; lowest price worldwide to stay competitive. It is sufficient to match the prices of those competitors that your customers are actually comparing you to in a given location.</p>
<p>This simple technique can improve the profitability of your eCommerce dramatically. Are you ready to try it out? Or do you have some concerns about using it in your company? Let us know your thoughts!</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/price-intelligence-of-the-crowd-101/">Price Intelligence of the Crowd</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/price-intelligence-of-the-crowd-101/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>With Your eCommerce Down the Streets of New York City</title>
		<link>https://blog.darwinpricing.com/with-your-ecommerce-down-the-streets-of-new-york-city-81/</link>
		<comments>https://blog.darwinpricing.com/with-your-ecommerce-down-the-streets-of-new-york-city-81/#respond</comments>
		<pubDate>Wed, 01 Jul 2015 11:00:10 +0000</pubDate>
		<dc:creator><![CDATA[Sébastien Fauvel]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p81.html</guid>
		<description><![CDATA[<p>If you&#8217;re selling online, you&#8217;re probably selling in New York City – in the Bronx, in Brooklyn, in Manhattan, in the Queens and in Staten Island. Imagine for a moment that you are walking down the streets of New York, trying to sell your products and services door-to-door, instead of doing it online. When it comes to price, I &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/with-your-ecommerce-down-the-streets-of-new-york-city-81/">With Your eCommerce Down the Streets of New York City</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<figure id="attachment_86" style="width: 620px" class="wp-caption alignleft"><a href="http://projects.newyorker.com/story/subway/"><img class="size-large wp-image-86" src="https://blog.darwinpricing.com/wp-content/uploads/2015/01/NYC_Income_Inequality1-1024x509.png" alt="Income Inequality and New York's Subway" width="620" height="308" srcset="https://blog.darwinpricing.com/wp-content/uploads/2015/01/NYC_Income_Inequality1-1024x509.png 1024w, https://blog.darwinpricing.com/wp-content/uploads/2015/01/NYC_Income_Inequality1-300x149.png 300w, https://blog.darwinpricing.com/wp-content/uploads/2015/01/NYC_Income_Inequality1.png 1478w" sizes="(max-width: 620px) 100vw, 620px" /></a><figcaption class="wp-caption-text">Income Inequality along New York&#8217;s Subway Line C</figcaption></figure>
<p>If you&#8217;re selling online, you&#8217;re probably selling in New York City – in the Bronx, in Brooklyn, in Manhattan, in the Queens and in Staten Island. Imagine for a moment that you are walking down the streets of New York, trying to sell your products and services door-to-door, instead of doing it online. When it comes to price, I guess you would soon understand that it wouldn&#8217;t hurt to raise your prices a bit in some neighborhoods of Manhattan, while you should rather keep them low if you want to sell in Brooklyn or in the Bronx&#8230;<span id="more-81"></span></p>
<h2>Income Inequality in New York City</h2>
<p>In fact, <a href="http://www.newyorker.com/news/news-desk/idea-of-the-week-inequality-and-new-yorks-subway" target="_blank">New York City has a problem with income inequality</a>, which reflects in a dramatic way the income disparity in the United States. The income gap between the richest 20% and the poorest 20% in the borough of Manhattan is as big as the one you have in countries like Sierra Leone, Namibia, and Lesotho, for instance. Although the free market is at work on the one side, while corruption and political violence are active on the other, the outcome is the same in both cases: The wealthy and mighty are always accumulating more and more advantages at the cost of the rest of the community. A story as old as our civilization.</p>
<h2>Implementing a Geo-Targeted Pricing Strategy</h2>
<p>What does it mean for your eCommerce? If you are selling your products and services at the same price in all boroughs and neighborhoods of New York, you are definitely leaving money on the table in Manhattan, while you are losing customers in Brooklyn and the Bronx. This is far from being optimal, and you are losing business day after day in favor of brick-and-mortar stores that have optimized their prices to drive the highest profits in the neighborhood.</p>
<p>There is a solution to improve the competitiveness of your online business: <a href="http://www.darwinpricing.com/services">Geo-targeted price optimization</a>. Based on the IP address of your website visitors, it is an easy thing to retrieve their zip code and to find out the mean household income in the neighborhood. This provides you valuable insights to start personalizing your prices and adjust them to your visitors&#8217; physical location. And this can increase dramatically the profitability of your business.</p>
<h2>The Ethical Way of Doing eCommerce</h2>
<p>Since the free market alone produces increasing inequalities, there is a need to counterbalance its effects, and your eCommerce can be part of it. People tend to live in neighborhoods where they have the opportunity to meet like-minded people, sharing not only their interests but also their social situation. With the right <a href="http://www.darwinpricing.com/services">geo-targeted pricing strategy</a>, you can drive higher margins in neighborhoods where people have a higher willingness to pay, and use this supplementary income to sell at lower prices in other locations. This will not only increase your sales volume, but also the overall profitability of your business – and contribute to a fairer distribution of wealth within the society.</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/with-your-ecommerce-down-the-streets-of-new-york-city-81/">With Your eCommerce Down the Streets of New York City</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/with-your-ecommerce-down-the-streets-of-new-york-city-81/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Why Your eCommerce Business Needs Dynamic Pricing</title>
		<link>https://blog.darwinpricing.com/why-your-ecommerce-business-needs-dynamic-pricing-72/</link>
		<comments>https://blog.darwinpricing.com/why-your-ecommerce-business-needs-dynamic-pricing-72/#respond</comments>
		<pubDate>Fri, 01 May 2015 17:03:08 +0000</pubDate>
		<dc:creator><![CDATA[Sébastien Fauvel]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p72.html</guid>
		<description><![CDATA[<p>Running a successful eCommerce operation today is a fast-paced, dynamic process. Not only is the competitive landscape constantly evolving in almost every industry, but so are the consumer trends and technology that drive it. If your eCommerce business does not have the right tools to keep up with these changes and respond accordingly, then you &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/why-your-ecommerce-business-needs-dynamic-pricing-72/">Why Your eCommerce Business Needs Dynamic Pricing</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><img class="alignright size-full wp-image-78" src="https://blog.darwinpricing.com/wp-content/uploads/2015/01/geo-targeting.jpg" alt="" width="221" height="242" />Running a successful eCommerce operation today is a fast-paced, dynamic process. Not only is the competitive landscape constantly evolving in almost every industry, but so are the consumer trends and technology that drive it. If your eCommerce business does not have the right tools to keep up with these changes and respond accordingly, then you risk significant losses in both market share and revenue.</p>
<p>This is where automated dynamic pricing comes in. A good price optimization solution will help your company instantly determine the best price or promotion to offer at any given moment based on a number of factors including: seasonal demand, customer location, and the prices your competitors are charging. When executed properly, these solutions enable you to achieve your sales goals and optimize your profit margins even in an extremely competitive market.</p>
<p>Imagine being able to run several geo-targeted sales campaigns simultaneously where visitors are shown different prices and promotions that are optimized to their physical location!<span id="more-72"></span></p>
<h2 align="LEFT">Dynamic Pricing Will Soon Be the New Standard in eCommerce</h2>
<p align="LEFT">Before you start thinking that you can afford to wait on this “new technology,” the truth is that many of your competitors are probably already using some form of dynamic pricing, and even if they aren&#8217;t right now, they will be soon. It&#8217;s well-known that big online retailer <span style="color: #000080;"><span lang="zxx"><span style="text-decoration: underline;"><a href="http://www.quora.com/How-does-Amazons-pricing-work">Amazon.com</a></span></span></span> has been constantly changing the prices on its products for years to maximize numerous market variables and trends. The same is true for big-box retailers like Target, Walmart, and BestBuy.</p>
<p align="LEFT">But, as dynamic pricing software solutions have become cheaper and easier to set up and implement, it is allowing even small and mid-sized eCommerce businesses to conduct sophisticated personalized promotions and pricing strategies.</p>
<h2 align="LEFT">The Benefits of Geo-Targeted Pricing Optimization</h2>
<p align="LEFT">So, how can your business in particular profit from implementing a location-specific dynamic pricing solution? Here are three key benefits to consider:</p>
<ol>
<li>
<p align="LEFT">You can compete with local, offline retailers. Mobile eCommerce has been growing in leaps and bounds over the past few years, and the result is that an increasing number of consumers may be browsing your website while they are in the physical store of your offline competitors. With dynamic geo-targeted pricing you can show these people the product they need at a cheaper price then they see on the shelf.</p>
</li>
<li>
<p align="LEFT">The automated process reduces manual input and mistakes. With automated pricing optimization, you can make instant pricing decisions with minimal manual effort. You can also reduce a number of pricing errors, such as pricing a product either unrealistically too high or too low or mistakenly entering the wrong prices on products, for example $19.99 when you meant $29.99.</p>
</li>
<li>
<p align="LEFT">Instantly analyze and act on a big data set. A good dynamic pricing solution will be able to consider a large amount of data points and be able make pricing changes in real-time. Not only will smaller eCommerce businesses benefit from the speed of these pricing changes, but also in the cost-effective context in which they are happening.</p>
</li>
</ol>
<p align="LEFT">In short, automated dynamic pricing is definitely one eCommerce trend that you cannot afford to overlook in 2015. If you would like to see how geo-targeted pricing optimization can work for your company, at Darwin Pricing we offer a forever free <span style="color: #000080;"><span lang="zxx"><span style="text-decoration: underline;"><a href="http://www.darwinpricing.com/pricing">dynamic pricing application</a></span></span></span>. After going through the quick set up process, our app allows you to configure geo-targeted sales campaigns on your website right away.</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/why-your-ecommerce-business-needs-dynamic-pricing-72/">Why Your eCommerce Business Needs Dynamic Pricing</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/why-your-ecommerce-business-needs-dynamic-pricing-72/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Heal the world with your eCommerce</title>
		<link>https://blog.darwinpricing.com/heal-the-world-with-your-e-commerce-35/</link>
		<comments>https://blog.darwinpricing.com/heal-the-world-with-your-e-commerce-35/#respond</comments>
		<pubDate>Sun, 01 Mar 2015 17:11:09 +0000</pubDate>
		<dc:creator><![CDATA[Sébastien Fauvel]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p35.html</guid>
		<description><![CDATA[<p>“Heal the world, make it a better place / For you and for me and the entire human race&#8230;” Sounds pathetic? Sure enough, healing the world is a far-fetched goal for an individual. And a lot would be achieved already if we were able to sort out our own fast-paced lives&#8230; But let&#8217;s face this great challenge and make &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/heal-the-world-with-your-e-commerce-35/">Heal the world with your eCommerce</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/paJf0T5MIOg" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p style="text-align: center;"><cite>“Heal the world, make it a better place / For you and for me and the entire human race&#8230;”</cite></p>
<p>Sounds pathetic? Sure enough, healing the world is a far-fetched goal for an individual. And a lot would be achieved already if we were able to sort out our own fast-paced lives&#8230; But let&#8217;s face this great challenge and make it to our #1 resolution for 2015: Healing the world. With your eCommerce. Let me tell you how.<span id="more-35"></span></p>
<h2>Let&#8217;s talk about the wealth gap</h2>
<p>Even in times of peace, our societies are producing outrageous inequalities and crisis situations. It is safe to say that the richest 1% of the American population owns at least 40% of the country&#8217;s total wealth, while the poorest 80% have less than 15%. We all know what it means; everyone has heard of the deadly consequences of hurricane Katharina in the poor districts of New Orleans, while the golden boys of Wall Street were playing golf in their Hampton summer residence. But what can you do about it, you ask?</p>
<h2>The problem with taxes</h2>
<p>In the good old days, the state has been responsible for redistributing the wealth and income produced within the country in a more socially sustainable way than the free market alone can do it. Taxes and subventions were the appropriate tools to achieve this. But in today&#8217;s borderless world – that states have created themselves, by the way – taxes have lost most of their efficiency. The rich are escaping taxation by “donating” to foundations created especially for this purpose in tax paradises, and governments have no power to do anything about it. So what next?</p>
<h2>Income inequality in the US</h2>
<p>Income is very unevenly distributed within the US, as you can see on the following map. So redistributing wealth is basically a geographical issue, it&#8217;s all about moving money from one end of the US to another:</p>
<p><a href="https://blog.darwinpricing.com/wp-content/uploads/2015/01/Income_County_USA_2013.jpg"><img class="alignnone wp-image-44 size-full" src="https://blog.darwinpricing.com/wp-content/uploads/2015/01/Income_County_USA_2013.jpg" alt="" width="608" height="370" srcset="https://blog.darwinpricing.com/wp-content/uploads/2015/01/Income_County_USA_2013.jpg 608w, https://blog.darwinpricing.com/wp-content/uploads/2015/01/Income_County_USA_2013-300x183.jpg 300w" sizes="(max-width: 608px) 100vw, 608px" /></a></p>
<p>Now if the government isn&#8217;t able to do that any more, you, as an eCommerce manager, have the opportunity to do the job better. How? Well, it&#8217;s quite easy actually. You have everything you need to tackle this problem.</p>
<h2>Take back your power</h2>
<p>The idea is simple, easy to implement, and if we do it right it is going to change lives. When you&#8217;re selling a product online, the visitors of your website are providing you their IP address. That&#8217;s part of how the internet works: Their web browser has to send their IP address to your web server along with the request, in order for the response to come back to them. No need to register or to login, that&#8217;s a piece of information that you will always have when someone visits your website. And there are great IP geolocation databases that are mapping IP addresses to countries, states, cities and zip codes. So in principle, you can always know where your visitors come from. And you can take a look at the data provided by the US Census Bureau to know much they&#8217;re earning in their county, in average. Do you see what I&#8217;m getting at?</p>
<p><a href="https://blog.darwinpricing.com/wp-content/uploads/2015/01/the_robin_hood_tax.jpg"><img class="alignnone size-full wp-image-49" src="https://blog.darwinpricing.com/wp-content/uploads/2015/01/the_robin_hood_tax.jpg" alt="" width="576" height="304" srcset="https://blog.darwinpricing.com/wp-content/uploads/2015/01/the_robin_hood_tax.jpg 576w, https://blog.darwinpricing.com/wp-content/uploads/2015/01/the_robin_hood_tax-300x158.jpg 300w" sizes="(max-width: 576px) 100vw, 576px" /></a></p>
<h2>The Robin Hood tax system</h2>
<p>You don&#8217;t need any democratic legitimacy to setup your own taxation system. In fact, as an eCommerce manager, you do have a wonderful opportunity to take from the rich and give to the poor. It is as easy as charging 50% more for your products when you sell them in the Hamptons, and 50% less when you sell them in New Orleans, for instance. That&#8217;s a practice called “price discrimination”, and it is completely legal in the US, as long as the discrimination isn&#8217;t based on race, religion, opinions etc.</p>
<p>Actually, lots of companies are doing that already, as a price optimization strategy intended to increase their eCommerce profitability. Increasing your margins in the Hamptons and your sales volume in New Orleans is a great way of driving more profits. But it is not only an economically attractive pricing strategy, it is also the best way towards an ethical, socially responsible eCommerce.</p>
<p>Implementing your own “tax system” is a child&#8217;s play with <a href="http://www.darwinpricing.com">Darwin Pricing</a>. Our app integrates into your eCommerce website and enables you to define, with a single click, the price level at which you&#8217;re willing to sell in every location. The eCommerce revolution is on its way. Now it&#8217;s up to you whether you would like to take part. And heal the world, at your level, in 2015.</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/heal-the-world-with-your-e-commerce-35/">Heal the world with your eCommerce</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/heal-the-world-with-your-e-commerce-35/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>With #VATMOSS entering into force, how are you adjusting your prices?</title>
		<link>https://blog.darwinpricing.com/with-vatmoss-entering-into-force-how-are-you-adjusting-your-prices-20/</link>
		<comments>https://blog.darwinpricing.com/with-vatmoss-entering-into-force-how-are-you-adjusting-your-prices-20/#respond</comments>
		<pubDate>Thu, 01 Jan 2015 17:22:44 +0000</pubDate>
		<dc:creator><![CDATA[Sébastien Fauvel]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p20.html</guid>
		<description><![CDATA[<p>As you probably know if you are selling digital products and services, the VAT place of supply rules applying to electronic services in the EU are changing on 1/1/2015. This has produced a huge amount of angry tweets with the #VATMOSS hashtag already, and that was only the first act. Value Added Tax collection in &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/with-vatmoss-entering-into-force-how-are-you-adjusting-your-prices-20/">With #VATMOSS entering into force, how are you adjusting your prices?</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p class="p1">As you probably know if you are selling digital products and services, the VAT place of supply rules applying to electronic services in the EU are changing on 1/1/2015. This has produced a huge amount of angry tweets with the <a href="https://twitter.com/search?q=%23VATMOSS">#VATMOSS</a> hashtag already, and that was only the first act.<span id="more-20"></span></p>
<h2 class="p1">Value Added Tax collection in the European Union</h2>
<p class="p1">For B2C businesses based in the EU, the situation was quite easy to handle until now. You have just paid VAT in the country where your business is VAT registered, regardless of your customer’s country of residence.</p>
<p class="p1">As of January 1st 2015, it all becomes much more complicated. VAT has to be paid in the country where the service is actually being delivered, that is, in your customer&#8217;s country. In case of a VAT audit, you will have to prove it by providing either the billing address of your customer, her IP address, the location of her bank, the country code of her SIM card or of her landline phone. And the VAT rates vary a lot from country to country within the EU.<span class="Apple-converted-space">  </span>You can visit the excellent website of <a href="http://www.vatlive.com/vat-rates/european-vat-rates/eu-vat-rates/">VATlive</a> to find up-to-date VAT rates for all EU countries.</p>
<h2 class="p1">How are you adjusting your pricing?</h2>
<p class="p1">These changes do not only require more administrative efforts, but are also a real challenge for businesses selling at low prices, and achieving minimal margins in very competitive markets.</p>
<p class="p1">With the new VAT rules, you are going to pay more VAT in some EU countries: Up to 27% in Hungary, compared to 17% in Luxembourg. This means, in the worse case, that you will be selling below costs if you don’t adjust your net prices.</p>
<p class="p1">Now if you increase your net prices to make sure you’re still making profit at 27% VAT, you’re definitely losing customers. So the best thing to do is to differentiate your prices geographically. But which is the best way of achieving this?</p>
<h2 class="p1"><strong>Geo-targeted pricing optimization with Darwin Pricing</strong></h2>
<p class="p1">If you are using <a href="http://www.darwinpricing.com">Darwin Pricing</a> already, this should be a no-brainer. You are already adjusting your prices based on the IP geolocation of your visitors, so you just have to adjust the price level in EU countries to account for the new VAT rate.</p>
<p class="p1">Make sure that you are sending the actual profit you are achieving with every sale to the Darwin Pricing API, so that your prices are being optimized to maximize the generated profit in every country. Don’t forget to deduce the exact VAT amount and your marginal production costs before sending us your sales revenue!</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/with-vatmoss-entering-into-force-how-are-you-adjusting-your-prices-20/">With #VATMOSS entering into force, how are you adjusting your prices?</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/with-vatmoss-entering-into-force-how-are-you-adjusting-your-prices-20/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>The future of eCommerce is automated pricing optimization</title>
		<link>https://blog.darwinpricing.com/the-future-of-ecommerce-is-automated-pricing-optimization-1/</link>
		<comments>https://blog.darwinpricing.com/the-future-of-ecommerce-is-automated-pricing-optimization-1/#respond</comments>
		<pubDate>Sat, 01 Nov 2014 09:15:09 +0000</pubDate>
		<dc:creator><![CDATA[Sébastien Fauvel]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p1.html</guid>
		<description><![CDATA[<p>Pricing is one of the most important and difficult aspects of eCommerce. Getting the optimal price right away for a new product or service is almost impossible, and it is even trickier to keep up with the evolutions of a dynamic marketplace. Customers using shopping comparison engines won&#8217;t even visit your site if your prices are too high. And you&#8217;re &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/the-future-of-ecommerce-is-automated-pricing-optimization-1/">The future of eCommerce is automated pricing optimization</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Pricing is one of the most important and difficult aspects of eCommerce.</p>
<p>Getting the optimal price right away for a new product or service is almost impossible, and it is even trickier to keep up with the evolutions of a dynamic marketplace. Customers using shopping comparison engines won&#8217;t even visit your site if your prices are too high. And you&#8217;re leaving money on the table if you set your price points too low.</p>
<p>So how do you find out the optimal price to drive the highest profits right now?</p>
<p>The answer is real-time market analysis. Shoppers love to compare prices, so it&#8217;s essential to know your competitors&#8217; prices to set the right price at any given time.<span id="more-1"></span></p>
<h2><strong>Online retailers are up for pricing optimization</strong></h2>
<p>Online retailers are becoming aware that their prices are relative to their competitors&#8217; all over the world, not only when they set prices initially, but also as their competition evolves, day after day.</p>
<p>The majority of online retailers (61%) are planning to use a form of pricing optimization in 2015. This is a huge increase compared to the 36% who have already optimized their prices in 2014.</p>
<p>Since the big players are using dynamic pricing to adjust the price of their products in real-time, all online retailers are feeling an increasing pressure to use a form of pricing optimization in order to keep up with them without ruining their margins.</p>
<h2><strong>How to optimize your prices scientifically</strong></h2>
<p><em>Know your customers</em></p>
<p>Gathering data about your customers&#8217; purchasing behavior is the key to pricing optimization. How do they perceive your brand? How much are they willing to pay? Where do they live, and how do your prices compare with the offers of local retailers?</p>
<p><em>Keep an eye on your margins</em></p>
<p>Before you start moving price points, make sure that you understand your cost structure and find out the maximal discount you could permanently offer without making losses. Selling items below costs can make sense if you want to enter new strategic market segments, but you cannot do that in the long run.</p>
<p><em>Run pricing A/B split tests</em></p>
<p>Lots of factors influence the optimal price of your products and services, in particular, the quality of your website traffic. So which price point will perform best in terms of overall profit? Don&#8217;t guess, optimize! By showing different prices to random panels of visitors on your site, you can actually measure the generated profit and see how it depends on the price level. Be sure to do the maths right and to gather a statistically significant amount of data before you change your prices!</p>
<h2><strong>Automate your pricing optimization strategy</strong></h2>
<p>Big players like Amazon are repricing their products every 10 minutes. If you don&#8217;t cope up with this rapid pace, you&#8217;re relying on chance to sell your products and services, and your eCommerce is bound to fail.</p>
<p>There is no way around automating your pricing strategy to stay competitive around the clock. Fortunately, companies like <a href="http://www.darwinpricing.com">Darwin Pricing</a> are already offering dynamic pricing services for online retailers. This is the most effective way of staying competitive in a marketplace that is evolving permanently.</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/the-future-of-ecommerce-is-automated-pricing-optimization-1/">The future of eCommerce is automated pricing optimization</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/the-future-of-ecommerce-is-automated-pricing-optimization-1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
