<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Nicolas Diewald &#8211; Darwin Pricing – CEO Blog</title>
	<atom:link href="https://blog.darwinpricing.com/author/nicolas-diewald/feed/" rel="self" type="application/rss+xml" />
	<link>https://blog.darwinpricing.com</link>
	<description>Dynamic Pricing Insights</description>
	<lastBuildDate>Tue, 09 May 2017 11:48:53 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.6</generator>

<image>
	<url>https://blog.darwinpricing.com/wp-content/uploads/2015/11/cropped-favicon1-32x32.png</url>
	<title>Nicolas Diewald &#8211; Darwin Pricing – CEO Blog</title>
	<link>https://blog.darwinpricing.com</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Dynamic Pricing: Strategien im Vergleich</title>
		<link>https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/</link>
		<comments>https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/#respond</comments>
		<pubDate>Wed, 06 Apr 2016 14:14:44 +0000</pubDate>
		<dc:creator><![CDATA[Nicolas Diewald]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://blog.darwinpricing.com/p149.html</guid>
		<description><![CDATA[<p>Die ersten experimentellen Gehversuche mit dynamischer Preissetzung endeten bereits im Herbst 2000 schnell und schmerzhaft. Der Leidtragende damals: Amazon. Mittlerweile hat der Internetgigant dazugelernt. Um das enorme Potenzial dieser Preissetzungsstrategie auch für Ihre Unternehmung optimal auszuschöpfen, müssen Sie die Besonderheiten der verschiedenen Anbieter kennen und diese im Planungsprozess berücksichtigen. Eine Anleitung zur erfolgreichen Implementierung. Nach &#8230;</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/">Dynamic Pricing: Strategien im Vergleich</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Die ersten experimentellen Gehversuche mit dynamischer Preissetzung endeten bereits im Herbst 2000 schnell und schmerzhaft. Der Leidtragende damals: Amazon. Mittlerweile hat der Internetgigant dazugelernt. Um das enorme Potenzial dieser Preissetzungsstrategie auch für Ihre Unternehmung optimal auszuschöpfen, müssen Sie die Besonderheiten der verschiedenen Anbieter kennen und diese im Planungsprozess berücksichtigen. Eine Anleitung zur erfolgreichen Implementierung.</p>
<p><span id="more-149"></span></p>
<p>Nach einer Studie von McKinsey führt bereits eine 1%ige Preiserhöhung im Schnitt zu einem Profitabilitätsanstieg von 7,4% (bei gleichbleibendem Verkaufsvolumen). Eine marginale Preiserhöhung kann folgerichtig dazu beitragen, ob Ihr Onlinehandel durchstartet, oder im Haifischbecken WorldWideWeb untergeht. Dynamic Pricing bietet in dieser Hinsicht einen vielversprechenden Weg, um die Preise für verschiedene Kundengruppen anzupassen und somit die Kaufkraft besser auszuschöpfen.</p>
<p>Der heutige größte eTailer der Welt Amazon hat schon früh Dynamic Pricing für sich entdeckt und startete bereits im Jahr 2000 seine ersten Gehversuche in diesem Segment. Damals bot Amazon jedem Konsumenten, je nach Zahlungsbereitschaft, unterschiedliche Preise für das gleiche Produkt an. Diese extreme Form der Preisdiskriminierung endete jedoch in einem großen Fiasko. Amazon erklärte anschließend öffentlich diese Methode nicht weiter zu verfolgen. Wenn also selbst ein Riese wie Amazon sich die Zähne ausbeißt, ist das Ganze dann überhaupt praktikabel?</p>
<h2>Dynamic Pricing: Der neue Standard im Online-Handel</h2>
<p>Keineswegs! Mittlerweile hat sich die dynamische Preissetzungsstrategie als eine gebräuchliche Praxis im Online-Marketing etabliert, auch bei Amazon. Nach etlichen Experimenten haben sich die beiden Strategien <em>Dynamic Price Updating</em> und <em>Dynamic Coupon Pricing</em> durchgesetzt. Beide Ausprägungen sind in ihrem Ziel der Maximierung der Rendite deckungsgleich. Die Ansätze sind jedoch grundverschieden und weisen daher auch verschiedene Stärken bzw. Schwächen auf.</p>
<p>Prinzipiell folgen beide Strategien dem Trend: weg vom <em>Mass Marketing</em> und hin zur <em>Mass Customization</em>. Dies wird vor allem durch ständige Fortschritte im Data Mining begünstigt. Onlinehändler verfügen im Prinzip über einen Berg von Informationen und dies ist einer der größten Wettbewerbsvorteile überhaupt. Oft fehlen aber die Ressourcen bzw. die Kompetenzen dazu, Big Data auszuwerten und/oder in der strategischen Ausrichtung zu implementieren. Führende <em>Dynamic Pricing Solution Provider</em> wie Darwin Pricing oder Wiser unterstützen Firmen hierbei. Sie bieten mithilfe von Software und Knowhow sowohl Informationssuche und -auswertung als auch die praktische Umsetzung in eine gewinnbringende Dynamic Pricing Strategie.</p>
<h2>Ein Beispiel aus der Praxis</h2>
<p>Sébastien Fauvel, CEO von Darwin Pricing, stellte uns zur praxisnahen Veranschaulichung einen aktuellen Track Record zur Verfügung. Bei Patrick Hoffman (Name geändert) handelt es sich um einen mittelständischen Versandhändler mit Hauptabsatzmärkten in Deutschland und Frankreich. Im Rahmen dieses Auftrags erarbeitete und implementierte Darwin Pricing für den Kunden eine personalisierte Geo-Pricing Strategie. Dabei war der Ablauf wie folgt: Nach einer vorhergehenden, umfassenden Situations- und Marktanalyse, um die Preiselastizitäten der Kunden zu messen, wurde die dargestellte Geo-Targeting-Strategie für die Märkte Deutschland und Frankreich festgesetzt. Die Kreisgröße repräsentiert hierbei den Web-Traffic in einer Stadt und die Kreisfarbe die jeweilige Coupon Strategie. Dunkelrot steht dabei für einen Rabatt von 7%, Rot für einen Rabatt von 5%, Orange für einen Rabatt von 3%, und bei Gelb wird kein Rabatt angeboten. Auf der Karte erkennt man sehr gut die differenzierte Streuung der einzelnen Coupon-Rabatte.</p>
<p><img class="aligncenter size-large wp-image-151" src="https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany-1024x747.png" alt="" width="620" height="452" srcset="https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany-1024x747.png 1024w, https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany-300x219.png 300w, https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany-768x560.png 768w, https://blog.darwinpricing.com/wp-content/uploads/2016/04/geo-targeting-france-germany.png 1204w" sizes="(max-width: 620px) 100vw, 620px" /></p>
<p>Mithilfe des Einsatzes von Geo-Pricing konnte der Versandhändler letztendlich eine Umsatzsteigerung von über 68.000 Euro pro Monat und eine Gewinnsteigerung von 9.000 Euro pro Monat erzielen. Für Patrick Hoffman ist die Erfahrung mit <em>Dynamic Coupon Pricing</em> in seinen Worten schon „fast zu schön, um wahr zu sein“, da er so zweistelliges Wachstum innerhalb von nur wenigen Wochen erwirtschaften konnte.</p>
<h2>Verschiedene Preisbereitschaften</h2>
<p>Auch <em>Dynamic Price Updating</em> bietet im Hinblick auf Rendite- und Umsatzsteigerung einen vielversprechenden Ansatz. Hierbei handelt es sich um klassische <em>take-it-or-leave-it</em> Preise, die über einen gewissen Zeitraum dynamisch (aufgrund von Faktoren wie Verkaufszeitpunkt, Nachfrageinformation oder Versorgungsstatus) automatisiert angepasst werden. Solche Software wird von Firmen wie etwa Wiser angeboten. Auch hier unterliegen die Preisanpassungsempfehlungen einem bestimmten Algorithmus, der überwiegend von Angebots- und Nachfrageentwicklungen beeinflusst wird. So kann der ausgezeichnete Preis uhrzeitabhängig an Marktbedingungen adaptiert werden, automatisiert oder manuell. Basis hierfür als auch für <em>Dynamic Coupon Pricing</em> ist eine enorme Datenrecherche und -auswertung, die in dieser Form von klein- bis mittelständischen Onlineplattformen niemals near real-time operiert werden können.</p>
<p>Kurz gesagt kann also durch diese beiden verschiedenen Vorgehensweisen mithilfe von dynamischer Preissetzung die Kaufkraft besser abgeschöpft werden. Verschiedene Preisbereitschaften auf Konsumentenseite führen bekanntlich dazu, dass unterschiedliche Kunden auch eine divergente Preisfairnessbeurteilung besitzen, wenn sie mit einem Preis konfrontiert werden. Jeder hat schon einmal das subjektive Gefühl gehabt bei einem Kauf ein Schnäppchen gemacht zu haben. Für andere wiederum wäre der Preis jedoch vielleicht mehr als gerecht oder in diesem Moment sogar etwas zu teuer. Die Gründe hierfür sind vielseitig, da Preisfairnessbeurteilung ein komplexes Konstrukt ist. Dies ist ein typisches Problem der konstanten Preissetzung, wie etwa bei der im Einzelhandel prominenten Dauerniedrigpreisstrategie. Für Kunden mit einer hohen Kaufkraft ist der Niedrigpreis ein Bonus, den sie im Idealfall zusätzlich zum Einkauf erhält, für den Händler ist es lediglich verlorene Rendite.</p>
<h2>Die Kehrseite der Medaille</h2>
<p>Warum also im Zeitalter der Digitalisierung von Information und der Personalisierung des Marketings gerade im überlebenswichtigen Bereich Pricing eine Ausnahme machen? Oft nennen Händler die Angst vor Integritätsverlust als zentralen Faktor.</p>
<p>Zu diesem kritischen Punkt kommt außerdem noch ein Paradoxon des Internethandels: wie kann es überhaupt sein, dass der Onlinemarkt auf Abnehmerseite so intransparent ist, dass derartige Strategien überhaupt greifen können? Eigentlich sollten Informationen doch beiden Parteien einfacher zugänglich und es folglich für den Konsumenten doch auch möglich sein, den günstigsten Preis online zu finden – gerade im Vergleich zu aufwendigen Preisrecherchen im Offlinehandel. Tatsächlich belegen aber diverse Studien, dass im virtuellen Markt ebenso ähnliche Such- und Wechselkosten existieren wie im physischen Markt. Konsumenten tendieren dazu immer auf einer Handvoll vertrauter Seiten einzukaufen. Dieser Fakt passt zu den marktspezifischen Unsicherheitsfaktoren im Onlinehandel, wie die Unsicherheit über Zahlungstransaktionen oder die Unsicherheit über die Güte der Ware. Daher sind Käufer auch bereit ein gewisses Preispremium zu zahlen, wenn sie dafür von vertrauten Seiten Güter erwerben. Aber wird das Vertrauensverhältnis zwischen Händler und Konsument dennoch nicht dauerhaft beschädigt, wenn dem Konsumenten bewusst wird, dass bspw. ein Familienmitglied oder ein Bekannter einen wesentlich günstigeren Preis gezahlt hat als er selbst? Und wie sieht es umgekehrt aus, wenn ich mich als Kunde in der bevorteilten Situation befinde?</p>
<p>Hierzu kann besonders die psychosoziale Forschung aufgrund des mittlerweile verhältnismäßig langen Entwicklungsprozesses von Dynamic Pricing einige Antworten und Prognosen liefern. Basis von vielen Studien sind dabei vornehmlich die <em>Equity-Theorie</em> und die Theorie der <em>Attribution of Agency</em>. Dabei besagt die <em>Equity-Theorie</em>, dass Konsumenten einen Preis automatisch als unfair empfinden, sobald er von dem Preis abweicht den andere Konsumenten bezahlen, selbst wenn sie den Grund (wie etwa den Status als neuer Kunde) für den Preisvorteil kennen. Kunden evaluieren den Nutzen eines Produkts nicht nur anhand ihrer selbst, sondern suchen auch bewusst oder unbewusst den Vergleich mit dem Ertrag anderer. Nach der <em>Attribution of Agency</em> ist für die Beurteilung einer Situation entscheidend, wer die Verantwortung dafür trägt. Letzteres ist, wie wir später noch zeigen werden, ein entscheidender Vorteil des <em>Dynamic Coupon Pricing</em>.</p>
<p>Bei Untersuchung der Thematik Dynamic Pricing in diversen Studien war das Ergebnis eindeutig: der Konsument ist unzufrieden, wenn er erfährt, dass er preislich diskriminiert wurde. Soweit so unspektakulär. Viel interessanter sind jedoch die folgenden sieben Erkenntnisse, die ebenfalls im Zusammenhang mit besagten Studien aufgedeckt wurden:</p>
<ol>
<li>Preisänderungen über längere Perioden werden als weniger unfair empfunden als welche, die in sehr kurzen Perioden geschaltet werden. Das liegt vor allem an dem nachweislich niedrigen Niveau des Preisbewusstseins und des Preisgedächtnisses von Konsumenten. Wird die Periode groß genug gehalten, hat die Preisänderung gar keinen Einfluss mehr auf die Fairnesswahrnehmung. Das sollten Sie besonders bei Produkten mit einer hohen Kauffrequenz berücksichtigen!</li>
<li>Bei einer Diskriminierung nach Neu- und Bestandskunden kann die einseitige Benachteiligung teilweise durch eine Kompensation wie etwa höhere Service-Levels für Bestandskunden kompensiert werden. Koordiniert und argumentiert man die Neukundenakquise und Stammkundenbindung also holistisch, kann daraus sogar ein Imagevorteil entstehen.</li>
<li>Von einer Preisdiskriminierung zwischen Personen, bei denen eine soziale Verbindung besteht, wird logischerweise dringend abgeraten. In anonymen oder offensichtlich voneinander unabhängigen Märkten ist sie jedoch zu empfehlen.</li>
<li>Wird ein günstiger Preis angeboten, sollte deutlich gemacht werden, dass Sie als Händler keine Kosten und Mühen gescheut haben Ihrem Kunden dieses Angebot zu bieten. Dies erzeugt ein Gefühl der Dankbarkeit, was wiederum die <em>Word-of-Mouth</em>-Aktivität fördert und dazu führt, dass der Kunde Sie anderen weiterempfiehlt. Ansonsten schreibt er den günstigen Preis nur seiner eigenen Fähigkeit zu, günstige Preise zu finden.</li>
<li>Es macht keinen signifikanten Unterschied, ob einem Kunden der niedrigere oder der höhere Preis angezeigt wurde: Die Auswirkungen auf Ihr Image werden in beiden Fällen negativ sein, falls Sie die Strategie falsch koordinieren.</li>
<li>Bei verderblichen Produkten wird eine Dynamik des Preises eher akzeptiert. Beispielsweise in der Airline-Industrie ist es Gang und Gäbe, dass der Ticketpreis zeitlich stark variiert. Hat Ihr Produkt ein Ablaufdatum, sind die Chancen gut, dass dynamische Preissetzung keine negativen Auswirkungen auf Ihre Kundenbeziehungen hat.</li>
<li>Verwenden Kunden E-Coupons, die wie bei Darwin Pricing gegen eine Newsletter-Anmeldung vergeben werden, um einen Rabatt zu erhalten, selektieren sie sich sozusagen selber für den günstigeren Preis. Diese Kunden haben einen höheren Aufwand in Form von Finden und Eingeben des Rabatt-Codes, und betrachten sich daher selbst als Verantwortlich für die Preisdiskriminierung. Damit umgehen Sie sicher die Gefahr des Imageverlusts.</li>
</ol>
<h2>Zusammenfassung</h2>
<p>Product, Place, Promotion, Price. Die vier P’s finden nach wie vor noch ihre Anwendung im weltweiten Marketing. Und Price wird dabei immer das zentrale Marketingelement bleiben, welches das letzte Wort in der Entscheidung über Erfolg oder Misserfolg einer Unternehmung hat. Daher sollte stringente <em>Mass Customization</em> im Marketing auch nicht bei Onlinebannerwerbung enden, sondern unbedingt eine solide ausgearbeitete Preissetzungsstrategie enthalten. Letztendlich bleibt es wie so oft ein Trade-Off zwischen Kosten und Nutzen, den jedes Unternehmen für sich selbst durchdenken muss. Im Falle des Unternehmers Patrick Hoffman steht eine monatliche Umsatzsteigerung von 68.000 € monatlichen Service-Kosten von 1.200 € bei Darwin Pricing gegenüber. Die Investition hat sich für den mittelständischen Unternehmer also gelohnt, da in der Summe fast mühelos eine 30%tige Gewinnsteigerung erzielt werden konnte. Zusätzlich zum direkten monetären Vorteil hat er nebenbei mit dieser Strategie außerdem durchschnittlich 120 Neukunden im Monat generiert, die sich sukzessive auch positiv auf zukünftige Einnahmeströme auswirken werden. Dieser Fall von Darwin Pricing zeigt: gerade im Zeitalter von Big Data sollten Sie sich intensiv mit dem Bereich Dynamic Pricing auseinandersetzen. Es lohnt sich in jedem Fall. Denn auch wenn Sie sich dagegen entscheiden sollten, definieren Sie Ihre Unternehmensvision weiter und Ihre strategische Ausrichtung wird ebenfalls zunehmend gefestigt. Gerade weil dieser Bereich nicht immer die oberste Priorität auf der Meeting Agenda hat und oft auch in der Gesamtstrategie nicht den eigentlich gebührenden Stellenwert genießt.</p>
<p>Inwieweit sich differenziertes Pricing auf lange Sicht im Internethandel entwickeln wird, ist spekulativ, momentan ist der Bereich aufgrund diverser Medienberichte jedoch sehr präsent. Fakt ist: online endet das Reich physischer Preisetikettierung und selbst bei <em>Brick-and-Mortar-Stores</em> wird fleißig mit digitaler Preisauszeichnung experimentiert um flexibler in der Preisgestaltung agieren zu können. Das Beispiel der Reiseindustrie mit sehr volatilen Flugticket- oder Übernachtungspreisen zeigt, dass auch die moralischen Bedenken in anderen Segmenten aufgrund von Habitualisierung schon bald der Vergangenheit angehören könnten. Momentan jedoch ist und bleibt es ein kritisches Feld, das mit Bedacht angegangen werden sollte. Sollten Sie sich nun entschließen, dass Sie sich weiter mit dynamischen Preissetzungsstrategien auseinandersetzen wollen, beachten Sie die wissenschaftlichen Erkenntnisse, die Ihnen im vorhergehenden Text erläutert wurden. <em>Dynamic Pricing Solution Provider</em> weisen mittlerweile eine hohe Expertise vor und können Sie in diesem Projekt umfangreich beraten. Egal ob <em>Dynamic Price Updating</em> oder <em>Dynamic Coupon Pricing</em>, das Beispiel des Geo-Pricing Projektes zeigt, wie vielseitig Dynamic Pricing sein kann.</p>
<p>Im Jahr 2000 ist Amazon den Pionierweg gegangen und hat dafür viel Lehrgeld zahlen müssen. Seitdem hat sich der Onlinehandel als auch das Data Mining rasend schnell entwickelt und eröffnen Ihnen völlig neue Möglichkeiten in der dynamischen Preissetzung. Im Jahr 2016 müssen Sie daher nicht mehr die Fehler anderer wiederholen, sondern können den eigenen, für Sie passenden Weg gehen.</p>
<p>The post <a rel="nofollow" href="https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/">Dynamic Pricing: Strategien im Vergleich</a> appeared first on <a rel="nofollow" href="https://blog.darwinpricing.com">Darwin Pricing – CEO Blog</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://blog.darwinpricing.com/dynamic-pricing-strategien-im-vergleich-149/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
